@model IEnumerable<MVC_Blog.Models.Blog>
@{

    ViewBag.Title = "Index";
}

<div class="intro-header" style="background-image: url('/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Mic Blog</h1>
                    <hr class="small">
                    <span class="subheading">Mic has all the best blogs.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        @Html.ActionLink("Create New Blog", "Create")
                    </h2>
                    <h3 class="post-subtitle">
                        Want to make a new blog?
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Mic</a>2/8/2017</p>
            </div>
        </div>
    </div>
</div>
<hr>


<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <h3>Title</h3>
        </th>
        <th>
            <h3>Teaser</h3>
        </th>
        <th>
            <h3>Author</h3>
        </th>
    </tr>
    @foreach (var blog in ViewBag.AllBlogs)
    {
        <tr>
            <td>
                @blog.Title
            </td>
            <td>
                @blog.TeaserText
            </td>
            <td>
                @blog.Author
            </td>
            <td>
                @Html.ActionLink("Read Post", "ReadPost", new { id = blog.Id })     
            </td>

        </tr>
    }
</table>

